footer {
	background-color: #0071bd;
	color: $white; 
	line-height: 1.75em;
	padding: 50px 0 20px; 

	ul {
		padding: 0; 
		margin: 0;

		li {
			padding: 5px 0; 
			margin: 0;
			line-height: 1.2em;
			list-style-type: none;
		}
	}

	a {
		color: $white;
		text-decoration: none;

		&:hover {
			color: $orange;
			text-decoration: none;
		}
	} 

	.logo {
		padding-bottom: 15px;
	}

	.phone {
		font-family: "Raleway", sans-serif;
    	font-weight: 800;
	}

	.copyright {
		text-align: center;
	}

	.column-four {
		text-align: center; 

		@media #{$phone} {
			text-align: left;
		}
	}

	.column-four, .column-five {
		@media #{$phone} {
			margin: 15px 0;
		}
	}
}