header {
	background-color: $white;
	display: block;
	height: auto;
	position: fixed;
	width: 100%;
	transition: all 0.4s ease;
    z-index: 2;

    a {
		text-decoration: none;
		color: $blue;
	}
	
	.utility {
		background-color: $faded-blue;

		nav {
		    float: right;

		    @media #{$mobile} {
				display:none;
			}

		    ul {
			    margin:0;
			    list-style:none;

			    li {
				    display: inline-block;
				    float: left;
				    padding: 0;
				    margin: 10px 0;
				    position: relative;
				    border-right: 1px solid;
				    line-height: 1em;

				    &:last-child {
					    border: 0;
					}

					a {
					    padding: 0 10px;
					    
					}
				}
			}
		}

		.phone {
			font-family: "Raleway", sans-serif;
	    	font-weight: 800;
	    	text-align: right;
	    	padding: 3px 0;

	    	a {
		    	&:hover {
		    		text-decoration: none;
		    		color: $soft-black; 
		    	} 
	    	}
		}
	}

	.header-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        align-content: center;

        .row {
	        width: 100%;
	        margin: 0;

	        .logo {
				padding: 20px 0;

				@media #{$mobile} {
					text-align: left;
				}

				img {
					transition: all 0.4s ease;
		    	}
			}

			.header-mainnav {
			 	display: flex;
		        justify-content: flex-end;
		        align-items: center;
		        align-content: center;
		        flex-direction: row;
		        padding-right: 0;
				text-align: right;

				.navbar {
					display: inline-block; 
					text-align: left;
					padding-right: 10px;
					padding-left: 0;

					@media #{$mobile}{
					    display:none;
					}

					.nav {
						padding-top: 0;
						margin-top: 5px;
						float: right;
					    padding: 0;
					    margin: 0;
					    list-style:none;

						> li {
							display: inline-block;
						    float: left;
						    padding: 0;
						    margin: 0;
						    position: relative;

							> a {
								border-bottom: 4px solid $white;
								font-size: .9em;
								color: $soft-black;
							    text-decoration: none;
							    padding: 10px 15px;
							    display: block; 

								@media #{$desktopwide} {
									font-size: 1em;
								}

								&:focus, &:hover, &.current-menu-item {

							    	a {
							    		text-decoration: none;
										color: $blue;
							    	}
							    }
							}

							ul {
							    display: none;
							    list-style: none;
							    float: left;
							    margin: 0;

							    li {
								    display: block;
								    width: 100%;
								}
							}
						}

						> li:hover {
							> a {
								border-bottom: 4px solid $orange;
							}

							ul {
								background: $faded-blue;
								padding: 5px 0 5px 10px ;
								display: block;
							    background: $white;
							    width: 280px;
							    background: white;
							    position: absolute;
							    top: 100%;

							    @media #{$desktopwide} {
							    	width: 305px;
							    }

								> li {
									a {
										color: $soft-black; 
										font-size: .9em; 

										&:hover {
											color: $orange;
											text-decoration: none;
										}

										@media #{$desktopwide} {
											font-size: 1em;
										}
									}
								}
							}
						}
					}
				}

				.menu-cta-container {
					display: block; 
					float: none;
			    	padding-top: 0;

			    	.btn {
						padding: 10px;
						font-size: 1em;

						@media #{$desktopwide} {
							font-size: 1em;
						}
						@media #{$tablet} {
							display: none;
						}
						@media #{$phone} {
							display: none;
						}
					}
				}
			}
		}
	}

	.container.nopad {
		@media #{$tablet} {
			padding: 0 10px;
		}
	}

	#mobile-header {

		@media #{$mobile} {
			max-width: 75px;
	        float: right;
		}

		#simple-menu {
			display:none;
			text-decoration: none;
			background-color: $blue;
			border-radius: 5px 5px 5px 5px;
			padding: 15px;
			margin: 15px 0;
			color: $white;

			@media #{$mobile} {
				display:block;
			}

			&:hover {
				background: lighten($blue,5%);
			}
		}

		#close{
			margin:15px;
			display:none;
			text-decoration: none;
			background-color: $white;
			border-radius: 5px 5px 5px 5px;
			padding: 15px;
			color: $black;

			@media #{$mobile} {
				display:block;
			}

		}
	} 

	&.sticky {
		height: auto;

		.utility {
			display: none;
		}

		.logo {
			padding: 20px 0;

			img {
				width: auto;
				max-width: 100%;
				display: inline-block;
				margin: 5px 0;
			}
		}

		.nav {
		    margin: 15px 0 10px !important;
		}
	}
}



.sidr {
	background: $orange; 
	box-shadow: none;

	ul {
		border-bottom: 1px solid darken($orange,5%);
		border-top: 1px solid darken($orange,5%);
		
		li {
			border-bottom: 1px solid darken($orange,5%);
			border-top: 1px solid darken($orange,5%);
			padding: 0;
			
			&:hover {	
				border-top: 1px solid darken($orange,5%);

				a {
					box-shadow: none;
				}
			}

			&:active {
				border-top: 1px solid darken($orange,5%);
			}

			ul {
				border-top: 1px solid darken($orange,5%);

				li {
					&:hover {
						background: lighten($orange,5%);
						border-top: 1px solid darken($orange,5%);
						
						a {
							box-shadow: none;
						}
					}

					&:active {
						border-top: 1px solid darken($orange,5%);
					}

					a {
						color: $white;
						
						&:hover {
							background: lighten($orange,5%);
						}
					}
				}
			} 	

			a {
				padding: 15px;
				line-height: normal;

				&:hover {
					background: lighten($orange,5%);
				}
			}
		}

		.sidr-class-hs-item-has-children {			
			&:hover {
				color: $white; 
				background: $orange;	

				a {
					cursor: default; 
				}
			}

			ul {
				li {
					a {
						&:hover {
							cursor: pointer; 
						}
					}
				}
			}
		}
	}

	#sidr-id-close {
	   	margin: 15px;
	   	display: none;
	   	text-decoration: none;
	   	background-color: #fff;
	   	border-radius: 5px 5px 5px 5px;
	   	padding: 15px;
	   	color: #000;
		
		@media #{$mobile} {
		    display: block;
		}

		&:hover {
			color: $white; 
			background-color: $soft-black; 
		}
	}
	
}




