.hero {
	
	&.two-col-flex {
		text-align: left;

		.container-fluid {

			.content-flex {

				@media#{$mobile} {
					padding: 0;
					flex: none;
				}

				.content {
					margin: 0 20px;
					max-width: 370px;
					float: right;

					@media#{$mobile} {
						margin: 40px auto;
						max-width: 100%;
						padding: 0 10px;
						float:none;
					}

					h1 {
						font-size: 2.7em; 
						text-shadow: none;
						margin:0;

						@media#{$phone} {
							font-size: 2em; 
						}
					}

					h2 {
						color: $white;
						font-size: 1.75em;
						text-shadow: none;
						margin:0;
						line-height: 1.25em;
	    				margin-top: 10px;

						@media#{$phone} {
							font-size: 1.2em; 
						}
					}
				}

				.visible-mobile {
					display: none;

					@media#{$mobile}{
						display: block;
					}
				}
			}
		}

		&.right {

			.content-flex {
				order:1;

				@media#{$mobile}{
					order: 2;
				}

				&.right {

					@media#{$mobile}{
						order: 1;
					}
				}
			}

		}

	}
}