.hero {     
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	min-height: 330px;

	h1 {
		font-size: 3.15em;
	    color: white;
	    font-weight: 600;
	 	margin: 30px 0 5px;
	    text-shadow: 1px 1px 1px #000;

	    @media #{$phone} {
	    	font-size: 2.5em;
	    }
	}

	h2 {
	    font-size: 2.25em;
	    color: white;
	    text-shadow: 1px 1px 1px #000;
	}
}

