.one-col-flex {
	text-align: center;
	padding: 65px 0;
	
	.content-flex {
	    display: -ms-flexbox;
	    display: flex;

	    -ms-flex-pack: center;
	    justify-content: center;
	    padding: 20px 0;

	    @media #{$phonenarrow} {
	    	-ms-flex-wrap: wrap;
	    	flex-wrap: wrap;
	    }

	    p {
		    flex-basis: 32%;
		    text-align: center;

		    @media #{$phone} {
		    	flex-basis: 100%;
		    }
		}

	    img {
	    	padding: 5px;
	    	width: auto;
	    }

	    a {
	    	font-size: 1.25em;
	    }
	
		&.row-two {
		    justify-content: center;

		    @media #{$desktopwide} {
		    	justify-content: space-between;
		    }

		    @media#{$mobile}{
		    	-ms-flex-wrap: wrap;
	    		flex-wrap: wrap;
		    }
		} 
	}
}

