.one-col {
	padding: 60px 0;

	h3 {
		text-align: center;
	}

	.btn {
		padding: 15px 70px;
		font-size: 1em;
		text-transform: uppercase;
		font-family: "Raleway", sans-serif;
		font-weight: 800;
	}

	blockquote {
		color: $blue;
		border-left: 0;
		margin-top: 25px;

		strong {
			font-style: normal;
			font-weight: 800;
		}
	}
}
