.testimonial {
	text-align: center;
	padding-top: 90px;
	padding-bottom: 130px;

	@media #{$phone} {
		padding-top: 45px;
		padding-bottom: 70px;
	}

	.quote {
	    font-style: italic;
	    font-size: 1.4em;
		
		@media #{$phone} {
	        font-size: 1.15em;
	    }
	}

	.signature {
	    font-weight: 600;
	    text-transform: uppercase;
	}
}
