.two-col-flex {

	.container-fluid {
		display: -ms-flexbox;
	    display: flex;
	    -ms-flex-pack: center;
	    justify-content: center;
	    flex-direction: column;

		.content-flex {
			-ms-flex: 1;
		    flex: 1;
		    padding: 40px;
		    background-repeat: no-repeat;
		    background-size: cover;

		    @media#{$mobile} {
				padding: 0;
			}

		    @media#{$phone} {
		    	background-image: none !important;
		    	padding: 0;
		    	flex: none;
		    	order: 2;
		    }

		    &.right {
				order: 1;
			}

			.content {
				max-width: 390px;
			    margin: 80px auto 150px;
			    display: block;

			    @media#{$mobile} {
			    	margin: 30px auto 40px;
			    	padding: 0 30px;
			    	max-width: 500px;
			    }

			    @media#{$phone} {
			    	margin: 30px auto 40px;
			    	padding: 0 20px;
			    	max-width: 100%;
			    }
			}

			b, strong {
			    font-weight: 800;
			}

			.btn {
				padding: 12px;
				text-transform: uppercase;
			    font-weight: 800;
			    background-color: $white;
			    display: block;
    			white-space: normal;

				@media#{$phone} {
					width: 100%;
					white-space: normal;
				}

				&.purple {
			    	border: 1px solid $purple;
				    &:hover {
					    background: $purple;
					    color: $white;
					}
				}
				&.blue {
				    border: 1px solid $blue;
				    &:hover {
					    background: $blue;
					    color: $white;
					}
				}
				&.sky-blue {
				    border: 1px solid $sky-blue;
				    &:hover {
					    background: $sky-blue;
					    color: $white;
					}
				}
				&.green {
				    border: 1px solid $green;
				    &:hover {
					    background: $green;
					    color: $white;
					}
				}
				&.lime-green {
				    border: 1px solid $lime-green;
				    &:hover {
					    background: $lime-green;
					    color: $white;
					}
				}
				&.orange {
				    border: 1px solid $orange;
				    &:hover {
					    background: $orange;
					    color: $white;
					}
				}
			}
			.visible-mobile {
				display: none;

				@media#{$phone} {
					display: block;
				}

				img {
					max-width: 100%;
				    height: auto;
				    margin: 0 auto;
				    display: block;
				}
			}

			&.medium {
				padding: 0;
				background-position: top right;

				.content {
					max-width: 400px;
    				margin: 80px auto;

    				@media (min-width: 1500px) {
						float: left;
						margin-left: 60px;
					}

					@media#{$mobile} {
				    	margin: 30px auto 40px;
				    	padding: 0 30px;
				    	max-width: 500px;
				    }

				    @media#{$phone} {
				    	margin: 30px auto 40px;
				    	padding: 0 20px;
				    	max-width: 100%;
				    }
					
					.btn.soft-black {
						background-color: $orange;
						color: $white;
						border: 1px solid $orange;
						cursor: default;
						display: inline-block;
						margin-top: 20px;

						&:hover {
					    	background: $white;
					    	color: $orange; 
						}
					}
				}
			}
		}
	}
}

