.two-col {
	padding: 40px 0;

	.container {

		.row {
			display: flex;
			justify-content: center;
			flex-direction: row;
			align-items: center;
			align-content: center;
			flex-wrap: wrap;

			.content {

			 	@media#{$mobile} {
			    	max-width: 500px;
			    }

			    @media#{$phone} {
			    	max-width: 100%;
			    }

				img {
					margin: 15px 0;
				}
			}
		}
	}

	&.right {

		.content {
			order:1;

			@media#{$mobile}{
				order: 2;
			}

			&.right {

				@media#{$mobile}{
					order: 1;
				}
			}
		}
	}

}