/*
 * _global.scss
 * This scss file should be used to declare styles that
 * are used across the entire site.
 *
 * This should NOT include common classes that may be
 * used in various pages or sections. However, the common
 * classes are included before this file, so they may be
 * used to apply the same style to certain elements on
 * every page here.
 *
 * For readability, please follow common conventions
 * whenever editing this file:
 *  - Nest elements wherever it makes sense.
 *  - It should almost never be necessary to nest ID
 *    selectors. Doing so can decrease browser
 *    performance.
 *  - Styles at the top of the site should be at the
 *    top of this file. Styles at the bottom of the
 *    site should be at the bottom of this file.
 *  - Each CSS attribute should be listed on its own
 *    line.
 *  - Do not include any attributes on the line with
 *    the CSS selector
 *  - If a rule has multiple selectors, list them each
 *    on their own line.
 *  - Indent attributes and nested selectors using
 *    tabs. The closing tag should have the same number
 *    of tabs as the opening tag for each selector.
 *  - If you discover that you are commonly re-using the
 *    same rules or attributes, add them as a variable
 *    or separate class and use the variable or class
 *    instead of re-writing it.
 */



/*** GENERAL STYLES ***/
img {max-width:100%;}

div {
	box-sizing: border-box;
}


.btn {
	border-radius: 0px;
	background-color: $white;
	border-color: $white;
	color: $white;
	text-decoration: none;
	font-size: 1.1em;
	padding: 12px 40px;
	
	&:hover {
		background-color: lighten($white,5%);
		color: $white;
	}

	&.cta {
		margin: 20px 0;
		background-color: $white;
		border-color: $white;
		color: $white;
		font-weight: $bold;
		text-transform: uppercase;
		
		&:hover {
			background-color: darken($white, 5%);
			border-color: darken($white, 5%);
			color: $white;
		}
	}
	&.white {
		background-color: $white;
		color: $black;
		border-color: $white;
		font-weight: $bold;
		
		&:hover {
			background-color: $white;
		}
	}
	&.orange {
		color: $white;
		background-color: $orange; 
		
		&:hover {
			background-color: lighten($orange,5%);
		}
	}
}
.btn-large {
	@extend .btn;
	padding: 20px 100px;
	font-size: 1.3em;
	margin: 30px 0;
}

.container {
	margin: 0 auto;
	padding: 0 20px;
	position: relative;
	width: $desktopwidth - 20px;

	&:after {
		content: "";
		clear:both;
		display:block;
	}

	@media #{$desktopwide} {
		width: $desktopwidewidth - 20px;
	}
	@media #{$tablet} {
		width: $tabletwidth - 20px;
	}
	@media #{$phonewide} {
		width: $phonewidth - 20px;
	}
	@media #{$phonenarrow} {
		width: 100%;
	}
	
	&.narrow {
		width: $tabletwidth - 58px; 
		@media #{$desktopwide} {
			width: $tabletwidth - 58px;
		}
		@media #{$tablet} {
			width: $tabletwidth - 20px;
		}
		@media #{$phonewide} {
			width: $phonewidth - 20px;
		}
		@media #{$phonenarrow} {
			width: 100%;
		}
	}

	&.medium {
		width: $desktopwidewidth - 190px;
		@media #{$desktopwide} {
			width: $desktopwidewidth - 190px;
		}
		@media #{$tablet} {
			width: $tabletwidth - 20px;
		}
		@media #{$phonewide} {
			width: $phonewidth - 20px;
		}
		@media #{$phonenarrow} {
			width: 100%;
		}
	}

	&.nopad {
		padding: 0;

		@media #{$desktopwide} {
			padding: 0;
		}
		@media #{$tablet} {
			padding: 0;
		}
		@media #{$phonewide} {
			padding: 0;
		}
		@media #{$phonenarrow} {
			padding: 0;
		}		
	}
}



/* background colors */
.white-bg {
    background-color: $white;
}
.faded-blue-bg {
    background-color: $faded-blue;
}
.purple-bg {
    background-color: $purple;
    color: $white;

    h3 {
    	color: $white;
    }
}
.blue-bg {
    background-color: $blue;
}
.sky-blue-bg {
    background-color: $sky-blue;
}
.green-bg {
    background-color: $green;
}
.lime-green-bg {
    background-color: $lime-green;
}
.orange-bg {
    background-color: $orange;
}

/* colors */
.white {
    color: $white;
}
.faded-blue {
    color: $faded-blue;
}
.purple {
    color: $purple;
}
.blue {
    color: $blue;
}
.sky-blue {
    color: $sky-blue;
}
.green {
    color: $green;
}
.lime-green {
    color: $lime-green;
}
.orange {
    color: $orange;
}
.soft-black {
	color: $soft-black;
}

/* top headline above main headline */
.top-headline {
    font-weight: 300;
    margin: 0;
}






/*** END GENERAL STYLES ***/


/*** HEADER STYLES ***/




/*** END HEADER STYLES ***/


/*** PAGE STRUCTURE ***/

.site-content { /* Remove this line if the header is not sticky */
    padding-top: 115px;
}

/*** END PAGE STRUCTURE ***/


/*** FOOTER STYLES ***/

/*** END FOOTER STYLES ***/
