html {
    font-family: 'Raleway', sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
	box-sizing: border-box;
}
body {
	font-family: "Raleway", sans-serif;
	margin:0 auto;
	padding:0;
	font-size: 15px;
	line-height: 1.5em;
	color: $variable-black;
	background: $white; /* Fallback for when there is no custom background color defined. */
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}
.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}
.col-height {
  display: table-cell;
  float: none;
  height: 100%;
}
*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: $regular;
	color: $variable-black;
	line-height: 1.2em;
	letter-spacing: .5px;
	margin: 0.75em 0 0.75em;
	clear: both;

	a {
		color: inherit;
		text-decoration: inherit;

		&:hover {
			text-decoration: underline;
		}
	}

}
a:hover {
	h1, h2, h3, h4, h5, h6 {
		text-decoration: underline;
	}
}
h1+h2, h1+h3, h1+h4, h1+h5, h1+h6, h2+h3, h2+h4, h2+h5, h2+h6, h3+h4, h3+h5, h3+h6, h4+h5, h4+h6, h5+h6 {
	margin-top:0;
}
h1 {
	font-size: 2.25em;
	font-weight: $regular;
}
h2 {
	color: #000;
	font-size: 1.75em;
	font-weight: $regular;
}
h3 {
	font-size: 2.25em;
	font-weight: 600;
    margin-top: 0;


	@media #{$phone} {
		font-size: 2em;
	}
}
h4 {
	color: #000;
	font-size: 1.4em;
}
h5 {
	font-size: 1em;
	text-decoration: underline;
}
h6 {
	font-size: 1em;
	font-weight: bold;
}
.hs-button, .hbspt-form .hs-form .hs-button {
	@extend .btn;
}
a {
	background: transparent;
	text-decoration: underline;
	color: $orange;
	transition-property: color, background-color, border-color;
	transition-timing-function: ease;
	transition-duration: .2s;
	&:focus {
		outline: thin dotted;
	}
	&:active,
	&:hover {
		color: lighten($blue,5%);
		outline: 0;
	}
}
p, ul, ol, dl, blockquote, q, code, pre {
	display: block;
	margin: 1em 0;
	font-weight: regular;
	color: inherit;
	font-size: 1em;
	line-height: 1.7em;
}
ul {
	list-style: disc outside none;
	margin-left: 2em;
}
ol {
	list-style: decimal outside none;
	padding-left: 1em;
}
li {
	padding-left: .5em;
}
dl {
	border-bottom: 1px solid #999;
}
dt {
	clear: left;
	float: left;
	width: 200px;
	margin: 0;
	padding: 5px 50px 5px 0;
	border-top: 1px solid #999;
	font-weight: bold;
}
dd {
	margin-left: 200px;
	padding: 5px;
}
dt+dd {
	border-top: 1px solid #999;
}
blockquote, q {
	quotes: "\201C" "\201D" "\2018" "\2019";
	font-style: italic;
	line-height: 1.8em;
	border-left: 5px solid #ddd;
	margin-left: 1em;
	padding-left: 1.5em;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	margin: 1em 0;
}
abbr[title] {
	border-bottom: 1px dotted;
}
hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 1px;
	border: none;
	color: $variable-black;
	margin: 1em 0;
}
code, pre {
	font-family: consolas, courier, monospace, serif;
	white-space: pre-wrap;
}
pre {
	border: 1px solid $green;
	padding: 20px;
}
code {
	background-color: #EEE;
	color: #000;
	padding: 0.2em 1em;
	white-space: pre;
	width: 100%;
	overflow-x: scroll;
	display: block;
}
small {
	font-size: 0.8em;
}
sub, sup {
	font-size: 0.5em;
	line-height: 0;
	position: relative;
}
sub {
	bottom: -0.25em;
}
sup {
	top: -10px;
}
img, a img {
	border: 0;
	max-width: 100%;
	height: auto;
}

input[type=text],
input[type=email],
input[type=search],
input[type=url],
input[type=tel],
input[type=number],
input[type=phone],
textarea {
	display: block;
	margin: 0;
	font-size: 1em;
	padding: 5px 10px;
	appearance: none;
	box-shadow: none;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid $grey;
	color: $variable-black;
	background: #FFF;
	width: 90%;
	margin-bottom: 10px;

	&:focus {
		border-color: $variable-black;
	}
}
input[type="checkbox"], input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
	margin-right: 10px;
}
textarea {
	height: 150px;
}
select {
	margin: 0;
	font-size: 1em;
	padding: 5px 10px;
	color: $variable-black;
	border: 1px solid $variable-black;
}
/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

.alignleft {
    display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
header:before,
header:after,
content:before,
content:after,
footer:before,
footer:after {
    content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
header:after,
.site-content:after,
footer:after {
	clear: both;
}