//********************** SITE ROOT **********************/
// Necessary for SCSS since the stylesheet is hosted on a different server than the images.
// This is also useful for quickly and easily changing URLs from a development to production domain.
$rooturl: "/";

//********************** COLORS **********************/
// Define your own colors here for each template
$variable-black: #000000;
$black: $variable-black;
$soft-black: #404041;
$grey: #555555;
$green: #1ab194;
$lime-green: #80b821;
$light-green: #F2FBF8;
$white: #ffffff;
$blue: #0071bd;
$sky-blue: #01bcf1;
$faded-blue: #F5F9FC;
$purple: #68227a;
$orange: #f68a1f;


//********************** DEFAULTS **********************/
// This is where you should override default bootstrap variables (such as $textColor, $baseFontFamily, $baseFontSize, etc...)
$regular: normal;
$bold: bold;

// For a list of variables and their defaults, open bootstrap/_variables.scss


//********************** MEDIA BREAKPOINTS **********************/
$desktopwidewidth: 1200px;
$desktopwidth: 980px;
$tabletwidth: 768px;
$phonewidth: 481px;
$iphonewidth: 320px;

$desktopmaxwidth: $desktopwidewidth -1;
$tabletmaxwidth: $desktopwidth - 1;
$phonemaxwidth: $tabletwidth - 1;
$phonenarrowwidth: $phonewidth - 1;

//********************** MEDIA QUERIES **********************/ 
$desktopwide: "only screen and (min-width: #{$desktopwidewidth})";
$tablet: "only screen and (min-width: #{$tabletwidth}) and (max-width: #{$tabletmaxwidth})";
$phonewide: "only screen and (min-width: #{$phonewidth}) and (max-width: #{$phonemaxwidth})";
$phonenarrow: "only screen and (max-width: #{$phonenarrowwidth})";
$iphone: "only screen and (max-width: #{$iphonewidth})"; 

//********************** MEDIA SHORTCUTS **********************/ 
$mobile: "only screen and (max-width: #{$tabletmaxwidth})";
$phone: "only screen and (max-width: #{$phonemaxwidth})";

//********************** RETINA QUERY **********************/ 
//$highdensity: "only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5)";
//We should use Bourbon's HIDPI-media-query functionality for retina-display instead of our own media query

